.Icon {
  height: 160px;
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Headings {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.filler {
  height: 700px;
}

.cardText {
  text-align: center;
}

.page {
  background-color: black;
}
