.Icon {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Headings {
  color: white;
  text-align: center;
  margin-top: 10px;
}
.filler {
  height: 700px;
}

.cardText {
  text-align: center;
}

.page {
  background-color: black;
}

.cardDeck {
  margin-left: 10%;
  margin-right: 10%;
  border: solid black 2px;
  width: 60%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
