.box {
  min-width: 100%;

  background-image: linear-gradient(
    180deg,
    rgba(22, 20, 69, 1) 0%,
    rgba(17, 17, 115, 1) 42%,
    rgba(0, 144, 203, 1) 100%
  );
  min-height: 100vh;
  display: flex;
  border: solid black 2px;
}
