.profilePicture {
  height: 300px;
  width: 300px;
}
.jumbo {
  background-color: #cdcdcd;

  padding: 10px;
}

.details {
  border: 2px;
  padding: 10px;
  border-radius: 25px;
  background-color: whitesmoke;
}
