.profilePicture {
  height: 30vh;
  width: 30vh;
}
.jumbo {
  background-color: #cdcdcd;
  padding: 10px;
}
.profileDetails {
  display: flex;
  flex-direction: row;
}

.stats {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.textDetails {
  width: 300px;
}
.statText {
  font-size: 20px;
}
.followers {
  margin-top: 20px;
}
.followersIcon {
  margin-top: 22px;
}
.name {
  font-weight: normal;
  text-align: center;
}
.statsIcons {
  width: 55px;
  height: 55px;
}
.description {
  display: flex;

  height: 100px;
}
.Icons {
  width: 50px;
  height: 50px;
}

.Cards {
  margin-top: 30px;
  margin-left: 10px;
}

.details {
  display: flex;
}

.profileFlex {
  display: flex;
  flex-direction: row;
}

.cardMargin {
  margin-top: 20px;
}
